/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
		
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	
	/*Фон страницы*/
	background-color: white;
	background-image: url('img/fon.png');
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: top,left;
	
	/*Размеры*/
	wight: 100%;
	height: 100%;
	
	/*Отступы и поля*/
	margin: 0px;
	padding: 0px;
	
	
	font: 12px/18px Arial, sans-serif;
}
.wrapper {
	width: 980px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background: #FFE680;
}

/* vmenu
-----------------------------------------------------------------------------*/
.vmenu {
	/*Отступы и поля*/
	margin: 0px;
	padding: 0px;
	
	/*Размеры*/
	width: 980px;
	height: 38px;
	
	/*Фон меню*/
	background-image: url('img/menu.png');
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: top,left;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 50px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 270px 0 270px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	width: 250px;
	margin-left: -250px;
	position: relative;
	background: #FFACAA;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 980px;
	margin: -50px auto 0;
	height: 50px;
	background: #BFF08E;
	position: relative;
}


/* Sheet
-----------------------------------------------------------------------------*/
.sheet{
	width: 550px;
	padding: 15px;
}

.sheet1{
	width: 550px;
	padding: 10px;
	background: url('img/sheet1.png') left top no-repeat;
}

.sheet2{
	width: 550px;
	height: auto;
	padding: 0px 10px;
	background: url('img/sheet2.png') left top repeat-y;
}

.sheet3{
	width: 550px;
	padding: 10px;
	background: url('img/sheet3.png') left top no-repeat;
}


/* Opisan
-----------------------------------------------------------------------------*/
.div_opisan{
	text-decoration: none;
	font-size: 18px;
	font-family: verdana, arial, serif;
	font-stile: normal;
	font-weight: normal;
	line-heigt: 22px;
	color: white;
	width: 530px;
	
	white-space: normal;
	text-align: justify;
}



.h1_opisan{
	text-decoration: none;
	font-size: 25px;
	font-family: verdana, arial, serif;
	font-stile: italic;
	font-weight: blod;
	line-heigt: 40px;
	color: red;
	width: 530px;
	text-align: center;
	
}


/* Buttons
-----------------------------------------------------------------------------*/
.wall-of-buttons {
    height: 300px;
    text-align: center;
    width: 100%;
}
.wall-of-buttons a.button { 
display: inline-block; 
margin: 0 10px 9px 0; 
} 

.button{
background:#222 url(overlay-button.png) repeat-x 0 0;
display:inline-block;
padding:5px 15px 6px;
color:#fff !important;
font-size:13px;
font-weight:bold;
line-height:1;
text-decoration:none;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25);
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);
text-shadow:0 -1px 1px rgba(0,0,0,0.25);
border-bottom:1px solid rgba(0,0,0,0.25);
position:relative;
cursor:pointer;
overflow:visible;
width:auto
}

		a.button {
			-webkit-animation-duration: 2s;
			-webkit-animation-iteration-count: infinite; 
		}

        .button:hover{
		    background-color:#111;
		    color:#fff
		}

        .button:active{
            -webkit-transform:translateY(1px);
            -moz-transform:translateY(1px)
        }

        .small.button{font-size:11px}
        .large.button{font-size:14px; padding:8px 19px 9px}

.green.button{background-color:#132712}
.green.button:hover{background-color:#010301}

.blue.button{background-color:#2daebf}
.blue.button:hover{background-color:#007d9a}

.red.button{background-color:#e33100}
.red.button:hover{background-color:#872300}

.magenta.button{background-color:#a9014b}
.magenta.button:hover{background-color:#630030}

.orange.button{background-color:#ff5c00}
.orange.button:hover{background-color:#d45500}

.orangellow.button{background-color:#ffb515}
.orangellow.button:hover{background-color:#fc9200}

        @-webkit-keyframes greenPulse {
		  from { background-color: #132712; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #010301; -webkit-box-shadow: 0 0 18px #010301; }
		  to { background-color: #132712; -webkit-box-shadow: 0 0 9px #333; }
		}

		@-webkit-keyframes bluePulse {
		  from { background-color: #002137; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #000405; -webkit-box-shadow: 0 0 18px #000405; }
		  to { background-color: #002137; -webkit-box-shadow: 0 0 9px #333; }
		}

		@-webkit-keyframes redPulse {
		  from { background-color: #300d03; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #1a0600; -webkit-box-shadow: 0 0 18px #1a0600; }
		  to { background-color: #300d03; -webkit-box-shadow: 0 0 9px #333; }
		}

		@-webkit-keyframes magentaPulse {
		  from { background-color: #000000; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #42011d; -webkit-box-shadow: 0 0 18px #42011d; }
		  to { background-color: #000000; -webkit-box-shadow: 0 0 9px #333; }
		}

		@-webkit-keyframes orangePulse {
		  from { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #ff5c00; -webkit-box-shadow: 0 0 18px #ff5c00; }
		  to { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
		}

		@-webkit-keyframes orangellowPulse {
		  from { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #ffb515; -webkit-box-shadow: 0 0 18px #ffb515; }
		  to { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
		}
		
		.green.button { -webkit-animation-name: greenPulse; -webkit-animation-duration: 3s; }
		.blue.button { -webkit-animation-name: bluePulse; -webkit-animation-duration: 4s; }
		.red.button { -webkit-animation-name: redPulse; -webkit-animation-duration: 1s; }
		.magenta.button { -webkit-animation-name: magentaPulse; -webkit-animation-duration: 2s; }
		.orange.button { -webkit-animation-name: orangePulse; -webkit-animation-duration: 3s; }
		.orangellow.button { -webkit-animation-name: orangellowPulse; -webkit-animation-duration: 5s; }
		